{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="fixed-top" style="top: 8rem; margin-left: 18rem;" >
  <div style="height: 600px; overflow-y: scroll;">
      <div class="card" style="width: 80%; margin-left:130px; background-color:grey;">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td>Profile Name:</td>
                <td>{{ expense.profile_name }}</td>
              </tr>
              <tr>
                <td>Repeat Every:</td>
                <td>{{ expense.repeat_every }}</td>
              </tr>
              <tr>
                <td>Start Date:</td>
                <td>{{ expense.start_date }}</td>
              </tr>
              <tr>
                <td>Ends On:</td>
                <td>{{ expense.ends_on }}</td>
              </tr>
              <tr>
                <td>Expense Account:</td>
                <td>{{ expense.expense_account }}</td>
              </tr>
              <tr>
                <td>Expense Type:</td>
                <td>{{ expense.expense_type }} {{expense.goods_label}}</td>
              </tr>
              <tr>
                <td>Amount:</td>
                <td>{{ expense.amount }}</td>
              </tr>
              <tr>
                <td>Paid Through:</td>
                <td>{{ expense.paidthrough }}</td>
              </tr>
              <tr>
                <td>Vendor:</td>
                <td>{{ expense.vendor }}</td>
              </tr>
              <tr>
                <td>GST Treatment:</td>
                <td>{{ expense.gst }}</td>
              </tr>
              <tr>
                <td>Destination Of Supply:</td>
                <td>{{ expense.destination }}</td>
              </tr>
              <tr>
                <td>Tax:</td>
                <td>{{ expense.tax }}</td>
              </tr>
              <tr>
                <td>Notes:</td>
                <td>{{ expense.notes }}</td>
              </tr>
              <tr>
                <td>Customer Name:</td>
                <td>{{ expense.customername }}</td>
             </tr>
           </tbody>
         </table>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary"  onclick="window.location.href='{% url 'edit_expense' expense.id %}'">Edit</button>
            </div>
            <div class="col-md-6 text-right">
              <form method="POST" action="{% url 'delete_expense' expense.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
            
          </div>
       </div>
      </div>
    </div>
</div>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
